NEXT_PUBLIC_SUPABASE_URL=https://rwtvrxyfmwioyncrluvn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3dHZyeHlmbXdpb3luY3JsdXZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2MDA5NTQsImV4cCI6MjEwNjE3Njk1NH0._1jn103xP8WikvMvjjAOuLta4zoItSMIn1H0lgwTr0Q
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_APP_NAME=RestaurantOS
